body{background-color: #0075B5;}


.bovenbalk{background:#FFF200;
width:100%;
height:52px;
margin:0 auto}


.logo{
	width: 80%;
max-width: 500px;
height: auto;
	position: relative;
    display:block;
    margin:0 auto;
	outline: 0;
}
.logo img{
    width:100% !important;
    height:100% !important;
    display:block;
}


.txt{
    width:50%;
    min-width:100px;
	background-color:#0F9;
	margin:0 auto;
}
@media screen and (max-width: 767px){
    txt{ width:100%}
}

.txt2{max-width:100%;
position: relative;
overflow:hidden;height:100%;
margin: 0 auto;
padding:30px;}

.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

#containerhead{
width:470px;
height:60px;
margin:0 auto;
}

.container2{ margin:0 auto;
width:300px;}



a{color:#FFF;}
b{color:#FFF;font-family: 'Share Tech', sans-serif;}


.grid li {
	display: block;
	float: left;
	padding: 20px;
	width: 33%;
	opacity: 0;
}

.grid li:hover {
	display: block;
	float: left;
	padding: 20px;
	opacity: 0;
	
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}


/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}



@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}
