body{background-color: #FFF;}




.bovenbalk{background:#000;
width:100%;
height:50px;
margin:0 auto;
bottom:0;
}


.logo{
	width: 80%;
max-width: 500px;
height: auto;
    margin:0 auto;
}
.logo img{
    width:100% !important;
    height:100% !important;
}

.containertxt{margin:0 auto;  max-width:800px; margin-top:50px;}


.txt2{
    min-width:40%;
	min-height:200px;
	padding:0 30px;
	overflow:hidden;
	word-wrap: break-word;
}


.beeld{
	background-image: url(../images/aboutfoto.png);
	background-position:100%;
	background-repeat:no-repeat;
	width:50%;
	min-width: 250px;
	min-height:250px;
	padding:30px;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-bottom:20px;}






a{color:#FFF;
}

.b{
	color:#FFF;
	font-family: 'Muli', sans-serif;
    font-size: 14px;
	font-weight:200;
	line-height:22px;
	font-weight:100;
}
.c{
	color:#C9453A;
	font-family: 'Muli', sans-serif;
	font-weight:100;
    font-size: 20px;}

.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

#containerhead{
width:470px;
height:60px;
margin:0 auto;
}

.container2{ margin:0 auto;
width:300px;}


@media all and (max-device-width: 720px){
    .b {
        font-size: 18px;
    }
}

@media all and (max-device-width: 640px){
    .b {
        font-size: 16px;
    }
}

@media all and (max-device-width: 320px){
    .b {
        font-size: 12px;
    }
}


.grid li {
	display: block;
	float: left;
	padding: 20px;
	width: 33%;
	opacity: 0;	
}

.item-titel{display:none;
position:absolute; 
width: 100%;
vertical-align:text-bottom;
margin:0;
padding:0;
text-align:center;
color:#655A74;
font-size:10px;
padding: 10px 0;

}

.grid li a{position:relative;}

.grid li a:hover .item-titel{display:block;
background-color: #FCD629;
opacity:.8;
bottom:0;
left:0;

}




.grid li:hover {
	display: block;
	float: left;
	padding: 20px;
	opacity: 0;
	
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}


/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}



@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}
