@charset "UTF-8";
/* CSS Document */

.background{margin:0 auto; width:600px; height:100px; background-image:url(image/logo.jpg); background-repeat:no-repeat;}

.menu{float:left; background:#000; margin:auto; width:100%; height:30px; color:#FFF }